:root {
	--border-color: #ff80012e;
	--border: 1px solid #c2a8a017;
}
section {
	overflow-x: hidden;
}
section {
	padding: 4rem 0 5rem;
}
/* ========== hero section @s ============ */
section.hero {
	min-height: 440px;
	background-image: url("../img/pexels-kureng-workx-7638958.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	padding: 10rem 0;
	background-size: cover;
	position: relative;
}
section.hero::before {
	position: absolute;
	background-color: rgba(0 0 0 / 65%);
	content: "";
	inset: 0;
}
section.hero .content-container {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
	justify-content: center;
	position: relative;
	align-items: center;
}
section.hero .content-container .place-order {
	padding: 1.1rem 2.2rem;
	border-radius: 6px;
	text-transform: uppercase;
}
section.hero .content-container .place-order:hover {
	background-color: var(--primary-clr-dark);
}
section.hero .content-container .title {
	font-size: 2.5rem;
}
section.hero .content-container :is(.title, .sub-text, .place-order) {
	color: var(--white);
}
section.hero .content-container .place-order {
	background-color: var(--primary-clr);
}
@media all and (min-width: 600px) {
	section.hero .content-container .title {
		font-size: 3.8rem;
	}
}
/* ========== hero section @e ============ */

/* ========== trending section @e ============ */
section.trending header .sub-text {
	font-size: 0.9rem;
}
section.trending .product-container {
	margin-top: 2rem;
}
section.trending .p-container .p-image-container {
	border-radius: 0.4rem 0.4rem 0 0;
	overflow: hidden;
}
section.trending .p-container .p-image-container img {
	width: 100%;
}
section.trending .p-content-container {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	row-gap: 0.3rem;
	border-radius: 0 0 0.4rem 0.4rem;
	background-color: var(--grey);
	border: var(--border);
	border-top: none;
}
section.trending .p-content-container .e_p {
	text-align: center;
	margin: 1.5rem 0 1rem;
}
section.trending .p-content-container a {
	color: var(--primary-clr);
	border: 1.2px solid var(--primary-clr);
	padding: 0.6rem 1rem;
	font-size: 0.8rem;
	border-radius: 6px;
}
section.trending .p-content-container a:hover {
	color: var(--white);
	background-color: var(--primary-clr);
}
/* ========== trending section @s ============ */

/* ========== sign up section @s ============ */
section.sign_up {
	background-color: var(--primary-clr-opacity-1);
}
section.sign_up .image-grid-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 1rem;
	gap: 1rem;
}
@media all and (min-width: 768px) {
	section.sign_up .image-grid-container {
		padding: 2rem;
	}
}
section.sign_up .image-grid-container .image-container {
	aspect-ratio: 16 / 11;
	overflow: hidden;
	border-radius: 0.5rem;
}
section.sign_up .image-container img {
	width: 100%;
	object-fit: cover;
	height: 100%;
}
section.sign_up .image-container-content {
	height: 100%;
}
section.sign_up .image-container-content .title {
	color: var(--primary-clr);
}
section.sign_up .image-container-content .title b {
	color: var(--font-clr);
	font-size: 80%;
}
section.sign_up .icon-image {
	max-width: 3.5rem;
	margin: 1rem 0 1rem;
	background-color: var(--primary-clr-opacity-2);
	border-radius: 8px;
	padding: 8px;
}
section.sign_up .content {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	margin-top: 1rem;
}
section.sign_up .content span {
	font-size: 0.859rem;
}
section.sign_up .content a {
	font-size: 0.8rem;
	color: var(--white);
	background-color: var(--primary-clr);
	width: max-content;
	padding: 0.8rem 2rem;
	border-radius: 6px;
	text-transform: uppercase;
	letter-spacing: 0.3px;
	margin-top: 1rem;
}
section.sign_up .content a:hover {
	background-color: var(--primary-clr-dark);
}
/* ========== sign up section @e ============ */

/* ============= empower section @s ============ */
section.empower .row {
	background-color: var(--primary-clr-opacity-2);
}
section.empower .carousel__slider_images {
	display: flex;
	align-items: center;
}
section.empower .carousel__slider_images .image-container {
	width: 100%;
	display: flex;
	align-items: center;
	overflow: hidden;
	aspect-ratio: 1 / 0.9;
	position: relative;
}
section.empower .carousel__slider_images .image-container::before {
	content: "";
	background-color: rgba(0 0 0 / 40%);
	inset: 0;
	position: absolute;
}
section.empower .carousel__slider_images .carousel-indicators {
	margin-top: 4%;
	top: 0;
}
section.empower .carousel-indicators [data-bs-target] {
	width: 10px;
	height: 10px;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
}
section.empower .carousel-indicators button {
	background-color: var(--primary-clr-opacity-1);
}
section.empower .carousel-indicators .active {
	background-color: var(--primary-clr);
}
section.empower .carousel__slider_images .image-container img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
section.empower .content {
	display: flex;
	flex-direction: column;
	row-gap: 1.2rem;
	padding: 2rem;
}
section.empower .content .sub-text {
	font-size: 0.9rem;
}
section.empower .carousel__slider_content .c_a_t {
	background-color: var(--primary-clr);
	color: var(--white);
	border-radius: 5px;
	padding: 0.8rem 1rem;
	text-transform: uppercase;
}
section.empower .carousel__slider_content .c_a_t:hover {
	background-color: var(--primary-clr-dark);
}
/* ============= empower section @s ============ */

/* ============= client_review section @s ============ */

section.i_section .t_container {
	display: flex;
	flex-direction: column;
	row-gap: 0.7rem;
	justify-content: space-around;
	position: relative;
	box-shadow: var(--box-shadow-1);
	padding: 1.5rem 2rem;
	border-radius: 8px;
	height: 100%;
	aspect-ratio: 16 / 8.5;
}
section.i_section .t_container .t_content .text-value {
	font-size: 0.8rem;
	margin-top: -8px;
}
section.i_section .t_container .t_testifier {
	text-align: start;
	margin-top: 1.3rem;
}
section.i_section .t_rate {
	display: flex;
	align-items: center;
	margin-top: 0.3rem;
}
section.i_section .t_rate svg {
	color: var(--primary-clr);
}
section.i_section .t_container .name-value {
	font-size: 0.9rem;
	font-weight: bold;
}
@media all and (min-width: 768px) {
	section.i_section .t_container {
		row-gap: 1.5rem;
	}
}
/* ============= client_review section @e ============ */

/* ============= pre__faq section @s ============ */
section.pre_faq ._R3930fsf {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}
section.pre_faq ._R3930fsf .icon {
	width: max-content;
	border: 1px solid transparent;
	background-color: var(--primary-clr-opacity-1);
	border-radius: 8px;
	padding: 10px;
}
section.pre_faq ._R3930fsf .icon svg {
	width: 3rem;
	height: 3rem;
}
section.pre_faq ._R3930fsf .sub-text {
	font-size: 0.9rem;
}
section.pre_faq .book_now {
	color: var(--white);
	background-color: var(--primary-clr);
	border-radius: 6px;
	padding: 1rem 2rem;
	text-transform: capitalize;
	width: max-content;
}
section.pre_faq .book_now:hover {
	background-color: var(--primary-clr-dark);
}
/* ============= pre__faq section @e ==========  */

/* ============= faq section @s ==========  */
section.faq .title-container {
	margin: 2rem 0 4rem;
}
section.faq .accordion__container {
	border-radius: 1rem;
	background-color: var(--primary-clr-opacity-1);
	padding: 2rem;
	border: 1px solid var(--primary-clr-opacity-2);
}
section.faq .accordion__container button {
	border: 1px solid transparent;
	font-size: 0.9rem;
	border-color: var(--border-color) var(--border-color) transparent var(--border-color);
}
section.faq .accordion__container button:focus,
.accordion-button:not(.collapsed) {
	box-shadow: none;
	background-color: var(--primary-clr-opacity-1);
	border-color: var(--primary-clr-dark);
	color: var(--primary-clr-dark);
}
section.faq .accordion__container .accordion-body {
	font-size: 0.8rem;
}
.accordion-button::after {
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="256" height="256" viewBox="0 0 256 256"%3E%3Cpath fill="%23ff8001" d="M222 128a6 6 0 0 1-6 6h-82v82a6 6 0 0 1-12 0v-82H40a6 6 0 0 1 0-12h82V40a6 6 0 0 1 12 0v82h82a6 6 0 0 1 6 6Z"%2F%3E%3C%2Fsvg%3E');
}
.accordion-button:not(.collapsed)::after {
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="256" height="256" viewBox="0 0 256 256"%3E%3Cpath fill="%23ff8001" d="M224 128a8 8 0 0 1-8 8H40a8 8 0 0 1 0-16h176a8 8 0 0 1 8 8Z"%2F%3E%3C%2Fsvg%3E');
}
section.faq .accordion__container .accordion-button {
	font-size: 0.9rem;
}
@media all and (min-width: 600px) {
	section.faq .accordion__container {
		padding: 4rem;
	}
}
/* ============= faq section @e ==========  */
